@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
html {
  background-color: var(--ctp-frappe-base);
}

body {
  background-color: var(--ctp-frappe-base);
  color: var(--ctp-frappe-text);
  font-family: Montserrat;
  font-weight: 400;
}

.title {
  color: var(--ctp-frappe-text);
  font-weight: 700;
}

a {
  color: var(--ctp-latte-lavender);
}

.footer {
  padding: 0.5em;
  width: 100%;
  /* bottom: 0; */
  position: absolute;
  background-color: var(--ctp-frappe-mantle);
  color: var(--ctp-frappe-text);
}

.footer strong {
  color: var(--ctp-frappe-text);
}

.tabulator .tabulator-header .tabulator-col .tabulator-col-content .tabulator-col-title .tabulator-cell {
    white-space: normal;
}

#nav-burger-close {
  visibility: hidden;
}
#nav-burger-close.is-active {
  visibility: visible;
}
#nav-burger-menu {
  visibility: hidden;
}
#nav-burger-menu.is-active {
  visibility: visible;
}

.navbar-menu {
  background-color: var(--ctp-frappe-mantle);
}
.navbar-burger, .menu-list a,
.menu-list button,
.menu-list .menu-item{
  color: var(--ctp-frappe-lavender);
}

.navbar, a.navbar-brand {
  background-color: var(--ctp-frappe-mantle);
}

.navbar-item {
  background-color: var(--ctp-frappe-crust);
  color: var(--ctp-frappe-text);
  font-family: Montserrat;
  font-weight: 600;
}

a.navbar-item:hover {
  background-color: var(--ctp-frappe-base);
  color: var(--ctp-frappe-subtext1);
  font-family: Montserrat;
  font-weight: 600;
}

td strong {
  color: var(--ctp-frappe-base);
}

td {
  color: var(--ctp-frappe-crust);
  font-weight: 400;
}

.card {
  background-color: var(--ctp-latte-base);
  color: var(--ctp-latte-text);
}

.tabulator {
  border-radius: 0.75rem;
  background-color: var(--ctp-latte-base);
  color: var(--ctp-latte-text);
}

.tabulator-row.tabulator-group {
  background-color: var(--ctp-macchiato-lavender);  
  color: var(--ctp-macchiato-crust);  
}

.tabulator-row.tabulator-group:hover {
  background-color: var(--ctp-latte-lavender); 
}

.tabulator-row.tabulator-group span {
  color: var(--ctp-latte-maroon);  
}

.tabulator-cell a {
  color: var(--ctp-latte-blue);
  font-weight: 500;
  text-decoration: underline;
}
