 
    <nav class="navbar" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a class="navbar-item" href="./index.html">
          <img src="./images/drawing_logo2.png" height="28">
        </a>
        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navMenu">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <!--<div class="icon"><span class="typcn typcn-th-menu" id="nav-burger-menu"></span></div>-->
        </a>
      </div>
      <div id="navMenu" class="navbar-menu">
        <div class="navbar-start">
          <a class="navbar-item" href="./conference.html">
            Conference
          </a>
          <a class="navbar-item" href="./journal.html">
            Journal
          </a>
        </div>
        <div class="navbar-end">
          <a class="navbar-item" href="./index.html">
            About
          </a>
        </div>
      </div>
    </nav>
